.body-container {
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 500px;
  width: 100vw;
  color: rgb(255, 255, 255);
  padding: 0.9rem 2rem;
  opacity: 0.9;
  background-color: #030303;
  backdrop-filter: blur(10px);
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}
 


.welcome-container, .start-container, .info-container, .proyect-container, .contract-container {
  margin-bottom: 20px;
  text-align: center;
}

.welcome-container h1, .start-container h1, .info-container h1, .proyect-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-container p, .info-container p, .contract-container p {
  font-size: 18px;
}
  