#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 35px;
  width: 95%;
  color: rgb(54, 180, 4); /* letter color */
  padding: 0.9rem 2rem;
  opacity: 0.9;
  background-color: #000000;
  backdrop-filter: blur(10px);
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}


li {
  list-style: none;
}

#navbar a {
  text-decoration: none;
  font-size: 1rem;
}

.Classnavbar {
  display: flex;
  justify-content: space-between;
  padding-right: 0%;
}

.logoMini {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Classnavbar .links {
  display: flex;
  gap: 2rem;
  padding-top: -30px;
}

#Classnavbar ul li:hover {
  color: #a12424;
  cursor: pointer;
}

#navbar .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5d509;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.2);
}

#navbar .additional-info p {
  margin: 0;
}

.logoMini {
  display: flex;
  align-items: center;
}